<!-- Login page
Course : COMP_229_Sec_003
Project Name - Group3 Project- Dream Cart : make your dreams affordable 
Team Members: Hardip, Nisha, Navya, Vinny -->


<div>
  <h1 class="d-flex justify-content-center">Login</h1>
  <form  #loginForm="ngForm" (ngSubmit)="submit(loginForm)" class="example-form d-flex justify-content-center">
    <div>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>User Email</mat-label>
        <input matInput placeholder="Enter your email" name="email" type="email"
               [(ngModel)] ="email">
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password">
      </mat-form-field>
      <button mat-raised-button color="primary" class="w-100">Submit</button>
      <p *ngIf="showError">Error occurred!!</p>
      <p class="text-center m-2">Don't have an account? <a routerLink="/register">Register</a>
        <span *ngIf="show"> <button mat-button color="accent">Login success !!</button></span>
    </div>
  </form>

</div>
