<!-- About page
Course : COMP_229_Sec_003
Project Name - Group3 Project- Dream Cart : make your dreams affordable
Team Members: Hardip, Nisha, Navya, Vinny -->

<div class="jumbotron maxHeight jumbotron-fluid bg bg-secondary text-white" style="margin-top: 0%;">
  <div class="row">
      <div class="col">
          <h1 class="display-4" style="padding-left: 1%; padding-top: 3%;">Dream Cart : make your dreams affordable
          </h1>
          <hr class="my-4">
          <h4 style="padding-left: 1%;">This is reselling of products application. Add your products here to resell it in a good price.
          </h4>
      </div>
  </div>
</div>
