<!-- Add Product page
Course : COMP_229_Sec_003
Project Name - Group3 Project- Dream Cart : make your dreams affordable
Team Members: Hardip, Nisha, Navya, Vinny -->

<div class="maxHeight">
<h2>Product Details</h2>
  <div class="card justify-content-center m-4 align-center">
    <div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h4 class="card-title">{{product?.name}}</h4>
          <span class="m-2 text-success justify-content-center">{{product?.status }}</span>
        </div>
          <div class="d-flex justify-content-between">
            <p class="card-text" style="color:rgb(43, 138, 150);">{{product?.description}}</p>
            <span class="m-2 text-success justify-content-end">${{product?.amount }}</span>
          </div>
      </div>
    </div>
  </div>
  <h2>Questions</h2>
  <div *ngIf="questionList?.length > 0; else noQuestion">
    <div *ngFor="let question of questionList">
      <div class="card justify-content-center m-4 align-center">
        <div>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h4 class="card-title">Question: {{question?.question}}</h4>
            </div>
            <div class="justify-content-start">Reply:
              {{question?.reply}}
            </div>

            <form
              *ngIf="onCheckUser() && !question?.reply"
              #replyForm="ngForm" (ngSubmit)="onReply(question, replyForm )"
              class="justify-content-center m-auto w-400 d-flex mt-5 login-box"
            >
              <div class="new_user">
                <div class="form-group mt-3">
                  <label class="text-dark">Reply</label>
                  <input
                    type="text"
                    name="reply"
                    placeholder="Your reply here!"
                    ngModel
                  />
                </div>

                <div class="form-group bo d-flex justify-content-center mt-3">
                  <button type="submit" class="btn btn-primary text-dark ">
                    Send
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- form handling -->
  <form
    *ngIf="!onCheckUser()"
    #questionForm="ngForm" (ngSubmit)="addQuestion(questionForm)"
    class="justify-content-center m-auto w-400 d-flex mt-5 login-box"
  >
    <div class="new_user">
      <div class="form-group">
        <label class="text-dark">Question</label>
        <input type="text" name="question" placeholder="Ask a question" ngModel/>
      </div>

      <div class="form-group bo d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-primary text-dark ">
          Send
        </button>
      </div>
    </div>
  </form>
  <ng-template #noQuestion>
    No Question asked yet!!
  </ng-template>

</div>
