<!-- Contact page
Course : COMP_229_Sec_003
Project Name - Group3 Project- Dream Cart : make your dreams affordable 
Team Members: Hardip, Nisha, Navya, Vinny -->

<div class="container bg bg-light" >
  <div class="row d-flex justify-content-center" style="margin-top: 1%;  padding: 2%;">
      <h1 class="text-center" style="color:rgb(11, 12, 12);">Contact Us</h1>

      <!--Contact Details-->

      <div class="col col-lg-6 " style="padding:3%;background-color:rgba(248, 240, 240, 0);">
        <h5>
          <a href="https://www.linkedin.com/in/nisha-dudheliya-227a4513b">Nisha Dudheliya</a> | Mail : nishadudheliya@gmail.com |       
        </h5>
        <h5>
          <a href="https://www.linkedin.com/in/hardip-patel-5ababa106/">Hardip Patel</a> | Mail : hardippatel7@gmail.com |
        </h5>
        <h5>
          <a href="https://www.linkedin.com/in/vinny-mariam-vinu-ba9636167/">Vinny Mariam Vinu</a> | Mail : vinnyvinu98@gmail.com |
        </h5>
        <h5>
          <a href="https://www.linkedin.com/in/navya-biju-jose-6b2442141/">Navya Biju Jose</a> | Mail : navyabiju717@gmail.com |
        </h5>
      </div>
      <!--Form-->


      </div>
  </div>