<!-- Add Product page
Course : COMP_229_Sec_003
Project Name - Group3 Project- Dream Cart : make your dreams affordable 
Team Members: Hardip, Nisha, Navya, Vinny -->

<div class="maxHeight">
  <!-- form handling -->
  <form
    #loginForm="ngForm" (ngSubmit)="addData(loginForm)"
    class="justify-content-center m-auto w-400 d-flex mt-5 login-box">
    <div class="form-body">
      <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h4 style="background-color:rgb(68, 66, 71); color:rgb(172, 186, 248);">Fill in the product details below</h4>
                    <form class="requires-validation" novalidate>

                        <div class="text-dark col-md-12">
                           <input class="form-control" type="text" name="name" placeholder="Name" required ngModel>
                           <div class="invalid-feedback">name field cannot be blank!</div>
                        </div>

                        <div class="text-dark col-md-12">
                            <input class="form-control" type="text" name="description" placeholder="Your product description!" required ngModel>
                             <div class="invalid-feedback">Description cannot be blank!</div>
                        </div>
                        <div class="text-dark col-md-12">
                          <input type="number" class="form-control" name="amount" placeholder="Amount" required ngModel/>
                          <div class="invalid-feedback">Amount cannot be blank!</div>
                        </div>
                        <div class="text-dark col-md-12">
                          <input type="text" class="form-control" name="status" placeholder="Status" required ngModel />
                          <div class="invalid-feedback">Status cannot be blank!</div>
                        </div>   
                      
                      <div class="form-button d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary text-dark ">
                          {{btnName}}
                        </button>
                      </div>
                    </form>

</div>
